.Center-text {
	text-align: center;
}

.Right-text {
	text-align: right;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

p {
	font-family: 'Inter';
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Flex-center {
	display: flex;
	justify-content: center;
	/* align-items: 'center'; */
}

.Flex {
	display: flex;
}

.Center-horizontal {
	margin-left: auto;
	margin-right: auto;
}

.Justify-between {
	justify-content: space-between;
}

.Justify-evenly {
	justify-content: space-evenly;
}

.Vertical-flex {
	display: 'flex';
	flex-direction: column;
}

.fade.hidden {
	animation: fade-out 3s forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.Vertical-line {
	transform: rotate(90deg);
}

.slide-in {
	animation: slide-from-left 3s ease-in-out forwards;
	opacity: 0;
	transform: translateX(-100%);
}

.slide-in.hidden {
	display: block;
	animation: slide-from-right 3s ease-in-out forwards;
}

.slide-delay-1 {
	animation-delay: 3s;
}

.slide-delay-2 {
	animation-delay: 1s;
}

@keyframes slide-from-left {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-from-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.Nav-line {
	width: '70rem';
	border-color: '#FFFFFF';
	border-style: 'solid';
	margin-top: '13rem';
}

.type-sentences {
	flex-direction: column;
	color: #404040;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	padding: 0;
}

.type-sentences p {
	animation: typing 1.5s steps(40, end);
	white-space: nowrap;
	overflow: hidden;
	width: fit-content;
}

.type-sentences p#type-delay-1 {
	animation: delay-1 3s steps(40, end), blink-caret 1s step-end infinite;
}

.type-sentences p#type-delay-2 {
	animation: delay-2 6s steps(40, end), blink-caret 1s step-end infinite;
	border-right: 2px solid black;
}
#hold-homepage {
	display: flex;
	margin-inline: auto;
	width: 50%;
}
.homepage-buttons {
	text-decoration: none;
	width: fit-content;
	padding: 0.5rem;
	/* padding-left: 0.5rem;
	padding-right: 0.5rem; */
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	border-radius: 24px;
	box-shadow: none;
	border: none;
	background-color: #85bcc7;
	color: white;
	font-size: 20px;
	margin-inline: 10px;
}

.homepage-buttons:hover {
	transform: scale(1.08);
	transition: 1s all ease-in-out;
}

.homepage-buttons:hover {
	transform: scale(1.08);
	transition: 1s all ease-in-out;
}

@keyframes typing {
	0% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	99% {
		border-right: 2px solid currentColor;
	}
	to {
		width: 100%;
	}
}

@keyframes delay-1 {
	0% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	50% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	99% {
		border-right: 2px solid currentColor;
	}
	to {
		width: 100%;
	}
}

@keyframes delay-2 {
	0% {
		width: 0;
		border-right: 2px solid orange;
	}
	50% {
		width: 0;
		border-right: 2px solid orange;
	}
	99% {
		border-right: 2px solid orange;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: currentColor;
	}
}

.Project-div {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	padding: 3rem;
	margin-bottom: 50px;
	transition: transform 0.3s ease-in-out;
}

.Project-div:hover {
	transform: scale(1.03);
}

.Project-desc {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Grid {
	width: 100%;
	margin-top: 3rem;
	border-radius: 12;
	color: #404040;
	display: flex;
	flex-wrap: wrap;
	margin-left: 8vw;
}

.sun {
	position: absolute;
	width: 25rem;
	height: 25rem;
	top: -6rem;
	left: -10rem;
	z-index: -1;
	background-color: #f5e186;
	border-radius: 50%;
	transition-duration: 3s;
}

.sun.move {
	left: 80%;
	transition-duration: 3s;
	background-color: #d9d9d9;
	height: 800px;
	width: 800px;
}

body {
	overflow-x: hidden;
}

#transition-div {
	width: 220px;
	height: 80px;
	background-color: white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 13px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.transition-button {
	height: 80px;
	border-radius: 13px;
	width: 100px;
	background-color: #f5e186;
	box-shadow: 2px 1px #e9dca2;
	position: absolute;
	/* transition: all 2s ease; */
	/* transition: background-color 2s, box-shadow 2s, transform 2s ease; */
	transition-duration: 3s;
}

.transition-button:hover {
	background-color: #f3d345;
	/* background-color: #b1b1b1; */
}

.transition-button:active {
	background-color: #ebc51c;
	/* box-shadow: 2px 1px rgb(175, 174, 167); */
}

.transition-button.night {
	right: 0;
	background-color: #d9d9d9;
	box-shadow: 0px 0px 2px 1px rgb(175, 174, 167);
	transition: all 2s ease;
	/* transition-duration: 3s; */
}
.transition-button.night:hover {
	background-color: #888787 !important;
}

.transition-button.night:active {
	background-color: #3a3a3a !important;
	/* box-shadow: 2px 1px rgb(175, 174, 167); */
}

.Nav-bar {
	position: fixed;
	top: 30%;
	left: 5vw;
	right: 0;
	z-index: 99;
	width: fit-content;
	transition: all 0.3s ease;
	background-color: white;
	border-radius: 12px;
}

#transition-words {
	display: flex;
	justify-content: center;
	margin-top: 0;
	padding: 0;
}

.star {
	position: fixed;
	z-index: -1;
	bottom: 0;
}

#star2 {
	position: fixed;
	width: 70px;
	top: 10%;
	left: 10%;
	z-index: -1;
}

.title-div {
	width: fit-content;
	margin-right: auto;
	margin-top: 10rem;
}

.title {
	font-size: 60px;
}

.gif {
	width: 600px;
	height: 287px;
	box-shadow: 3px 3px 3px;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.gif:hover {
	transform: scale(1.2);
	transition: all 2s ease;
}

.clouds {
	position: absolute;
	bottom: 0;
}

#Homepage-div {
	background-color: #ffebcf;
	height: 80vh;
	justify-content: center;
	align-items: center;
	display: flex;
}
.orange {
	background-color: #ffebcf;
}

#intro {
	font-family: 'IBM Plex Mono';
	font-size: 40px;
	text-align: left;
	font-weight: 550;
}

.display-block {
	display: block;
}

.Contact-div {
	display: flex;
	width: 50vw;
	margin-inline: auto;
	justify-content: space-between;
}
.Contact-div.in-view {
	animation: appear 3s ease;
}
.contact-hold {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-margin {
	margin-bottom: 0px;
	margin-top: 0px;
}

.contact-header {
	color: #555555;
	font-weight: bold;
}
.Page-div {
	width: 100vw;
}

.padding {
	padding-inline: 200px;
}

.white {
	background-color: white;
}

#Name {
	font-size: 60px;
	margin-top: -10px;
	margin-bottom: -5px;
	color: black;
	font-family: 'Inter';
}

.Homepage-sentences {
	font-size: 35px;
	margin-bottom: 0;
	z-index: 1;
}

.Project-wrap {
	margin-top: 2rem;
	display: flex;
}

.Project-words-section {
	width: 100rem;
	padding-left: 5rem;
}

#About-me-div {
	display: flex;
	margin-bottom: 5rem;
}

#Nav-bar-flex {
	display: flex;
	flex-direction: column;
}

.Tech-stack {
	display: flex;
}

.Tech-stack-holder {
	display: flex;
	height: 6.5rem;
	margin-bottom: 3rem;
}

.Project-title {
	font-size: 23px;
	margin-top: 0;
}

.Title-tools {
	margin-left: 10vw;
}

.Project-name {
	font-size: 30px;
	margin-bottom: 0;
	font-weight: bold;
}

.Project-description {
	font-size: 20px;
	width: 80%;
	margin-top: 0;
}

#projects-section {
	background-color: #a4aff9;
	margin-top: 20rem;
	position: relative;
	width: 100vw;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.Border-bottom {
	border-width: 5px;
	border-bottom: 3px solid #282c34;
}

.project-header-1 {
	font-size: 80px;
	width: fit-content;
	margin-inline: auto;
	font-family: 'Inter';
	position: relative;
	top: -80px;
	margin-bottom: 0;
	z-index: -1;
}

.project-header-1.in-view {
	animation: jump-up 2s ease;
}
.project-header-2.in-view {
	animation: jump-down 2s ease;
}
.project-header-2 {
	font-size: 80px;
	width: fit-content;
	margin-inline: auto;
	font-family: 'Inter';
	margin-top: 0;
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translate(-50%, 0);
	color: white;
	z-index: 1;
}

.main-header {
	font-size: 70px;
	width: fit-content;
	font-family: 'Inter';
	margin-top: -250px;
}

#tech-text {
	width: 25rem;
	font-size: 28px;
}

.tech-flex {
	display: flex;
	justify-content: space-between;
	width: 40rem;
	margin-inline: auto;
	align-items: center;
}

.tech-hold {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
	background-color: #85bcc7;
	border-radius: 12px;
	padding: 1rem;
}

.Each-project {
	width: 100%;
	height: fit-content;
	margin-bottom: 10rem;
}

.Each-project.in-view {
	animation: fade-in 2s ease;
}

.Recent {
	font-size: 13px;
	font-weight: bolder;
	color: green;
	margin-top: 2rem;
}

.Description-div {
	width: 60%;
}

.About-me {
	margin-top: 3rem;
	font-size: 25px;
	font-weight: bold;
}

.About-me.in-view {
	animation: appear 3s ease;
}

/* .Logo.in-view {
	animation: slide-from-left 1s ease;
} */

.Display-options {
	display: flex;
	justify-content: space-evenly;
}

.Small-display {
	width: 15rem;
	margin-right: 1rem;
	padding: 3px;
}

.Bland-button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
	cursor: pointer;
}

.line {
	width: 15rem;
	border-width: 3px;
	border-color: #85bcc7;
	border-style: solid;
	animation: grow 3s ease-in-out;
}

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}
.w-70 {
	width: 70%;
}
#line-left {
	margin-left: 0;
	/* margin-right: 4.65rem; */
}

#line-right {
	margin-right: 0;
}

.dot {
	width: 1rem;
	height: 1rem;
	background-color: #85bcc7;
	margin-left: 6px;
	border-radius: 50%;
}

.blue {
	color: #85bcc7;
}

.w-50 {
	width: 50%;
}

.fit-w {
	width: fit-content;
}

.align-items-center {
	align-items: center;
}

.align-self-center {
	align-self: center;
}

.justify-center {
	justify-self: center;
}

#title-div {
	align-self: center;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

#about-me-p {
	font-family: 'IBM Plex Mono';
	font-size: 30px;
	margin-top: 1rem;
	width: 80%;
	justify-self: center;
	text-align: left;
	font-weight: 400;
}

#one-sky {
	background-color: rgba(255, 246, 234, 0.55);
	width: 25rem;
	display: flex;
	justify-self: center;
	justify-content: center;
}
#one-sky-logo {
	height: 10rem;
}
.one-sky-words {
	font-size: 16px;
	color: #722eae;
	font-weight: 300;
	width: 4rem;
}
.align-self-end {
	align-self: flex-end;
}

.picture {
	height: 400px;
	z-index: 2;
	position: relative;
}

.position-relative {
	position: relative;
}

#outline {
	/* border: 3px solid white; */
	height: 400px;
	width: 300px;
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 1;
}

.curved {
	background-color: #efefef;
}

.curved-upper {
	background-color: #f9f9f9;
	margin-top: -10rem;
}

#name-sub {
	margin-top: 2rem;
	margin-left: 1rem;
	color: black;
}

#projects-div {
	height: 50vh;
	width: 100vw;
	margin: 0rem;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 10rem;
}

#image-track {
	gap: 4vmin;
	display: flex;
	position: absolute;
	left: 38%;
	top: 50%;
	transform: translate(0%, -50%);
	/* top: 50%;
	transform: (0%, -50%);*/
}

div {
	user-select: none;
}

#image-track > .image {
	width: 80vmin;
	height: 50vmin;
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: 12px;
	user-select: none;
}

.big-circle {
	height: 50rem;
	width: 50rem;
	border-radius: 50%;
	border: 5px solid white;
	position: absolute;
	top: 8%;
	z-index: 0;
}

.small-circle {
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	border: 5px solid #efefef;
	position: absolute;
	left: 60%;
	top: -2%;
	z-index: 0;
}

#scroll-to-view {
	font-size: 30px;
	color: white;
	font-weight: bold;
	opacity: 0.8;
	justify-self: center;
	width: fit-content;
}

#scroll-to-view.in-view {
	animation: fade-in 2s;
}

.hold-scroll {
	width: 40%;
	align-content: center;
}

.highlight {
	border: 5px solid #85bcc7;
	opacity: 0.6;
}

.line-hold {
	width: 19.65rem;
}

/* .line-animate {
	animation: grow 3s ease-in-out;
} */

.vertical {
	position: absolute;
	width: 1px;
	border: 2px solid white;
	height: 400px;
	left: 0;
}

.cover-line {
	position: absolute;
	width: 1px;
	border: 2px solid #ffebcf;
	height: 400px;
	left: 0;
	animation: shift-up 1s ease-in-out forwards;
	animation-delay: 3s;
}

.vertical-right {
	position: absolute;
	width: 0px;
	border: 2px solid white;
	height: 0px;
	left: 100%;
	animation: grow-vertical 1s ease-in-out forwards;
	animation-delay: 1s;
}

.horizontal-top {
	position: absolute;
	width: 30px;
	border: 2px solid white;
	height: 1px;
	animation: shift-right 1s ease-in-out !important;
	right: 0;
}

.horizontal {
	position: absolute;
	width: 0px;
	border: 2px solid white;
	height: 0px;
	animation: grow-horizontal 1s ease-in-out forwards;
	animation-delay: 2s;
}

.horizontal-2 {
	position: absolute;
	width: 0px;
	border: 2px solid white;
	height: 0px;
	animation: grow-horizontal-2 1s ease-in-out forwards;
	margin-top: 0px;
}

#hold-name-line {
	width: fit-content;
	position: relative;
}

.right {
	left: 100%;
}

.bottom {
	top: 100%;
	right: 0%;
}
.display-text-div {
	width: fit-content;
	margin-left: 20px;
}

.display-text-div.in-view {
	animation: slide-right 1s;
}

.display-text-div-right {
	justify-content: start;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 20px;
}

.display-text-div-right.in-view {
	animation: slide-left 1s;
}

.display-div {
	margin-top: 5rem;
	font-family: 'IBM Plex Mono';
	font-weight: 300;
}

.display-header {
	text-align: center;
	font-size: 40px;
}

.display-sub {
	font-size: 40px;
	margin-bottom: 10px;
}

.display-flex {
	display: flex;
	flex-direction: column;
	height: 100rem;
	justify-content: space-around;
}

.display-img {
	width: 800px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.display-left {
	margin-left: 40px;
}

.display-right {
	margin-left: auto;
	justify-content: center;
	margin-right: 40px;
}

.spotify-text {
	width: 50%;
	text-align: center;
	margin-inline: auto;
	font-size: 20px;
	z-index: 1;
}

#hold-video {
	justify-self: center;
}
@keyframes slide-right {
	from {
		margin-left: -100px;
	}
	to {
		margin-left: 20px;
	}
}

@keyframes slide-left {
	from {
		margin-right: -100px;
	}
	to {
		margin-right: 20px;
	}
}
@keyframes jump-up {
	from {
		top: -40px;
	}
	to {
		top: -80px;
	}
}

@keyframes jump-down {
	from {
		top: -55px;
	}
	to {
		top: -15px;
	}
}
@keyframes shift-up {
	from {
		bottom: 0%;
	}
	to {
		height: 10px;
		bottom: 50%;
	}
}

@keyframes shift-right {
	from {
		margin-right: 50%;
	}
	to {
		margin-right: 0%;
	}
}
@keyframes grow-horizontal {
	from {
		height: 1px;
		width: 0px;
	}
	to {
		width: 300px;
	}
}
@keyframes grow-horizontal-2 {
	from {
		height: 1px;
		width: 0px;
	}
	to {
		width: 100%;
	}
}
@keyframes grow-vertical {
	from {
		width: 1px;
		height: 0px;
	}
	to {
		height: 404px;
	}
}

@keyframes grow {
	from {
		width: 0;
	}
	to {
		width: 15rem;
	}
}
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#Name {
		font-size: 30px;
		margin-left: 1rem;
	}

	.Homepage-sentences {
		font-size: 25px;
	}

	.gif {
		width: 50vw;
	}

	.Project-div {
		width: 15rem;
		margin-left: 5rem;
		padding: 1rem;
		height: fit-content;
	}

	.Project-wrap {
		flex-wrap: wrap;
	}

	.Grid {
		flex-direction: column;
	}

	.Flex-center {
		flex-wrap: wrap;
	}

	.Project-words-section {
		padding-left: 0;
	}

	#About-me-div {
		flex-direction: column;
	}

	.Nav-bar {
		display: none;
	}

	#Nav-bar-flex {
		flex-direction: row;
		flex-wrap: wrap;
		width: 22rem;
		justify-content: space-evenly;
	}

	.clouds {
		display: none;
	}

	.Tech-stack-holder {
		overflow-x: scroll;
		width: 20rem;
	}
}
