.Center-text {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Flex-center {
	display: flex;
	justify-content: center;
	/* align-items: 'center'; */
}

.Flex {
	display: flex;
}

.Center-horizontal {
	margin-left: auto;
	margin-right: auto;
}

.Justify-between {
	justify-content: space-between;
}

.Justify-evenly {
	justify-content: space-evenly;
}

.Vertical-flex {
	display: 'flex';
	flex-direction: column;
}

.fade {
	animation: fade-in 3s;
}

.fade.hidden {
	animation: fade-out 3s forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.Vertical-line {
	transform: rotate(90deg);
}

.slide-in {
	animation: slide-from-left 3s ease-in-out forwards;
	opacity: 0;
	transform: translateX(-100%);
}

.slide-in.hidden {
	display: block;
	animation: slide-from-right 3s ease-in-out forwards;
}

.slide-delay-1 {
	animation-delay: 3s;
}

.slide-delay-2 {
	animation-delay: 1s;
}

@keyframes slide-from-left {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-from-right {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.Nav-line {
	width: '70rem';
	border-color: '#FFFFFF';
	border-style: 'solid';
	margin-top: '13rem';
}

.type-sentences {
	flex-direction: column;
	color: #404040;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	padding: 0;
}

.type-sentences p {
	animation: typing 1.5s steps(40, end);
	white-space: nowrap;
	overflow: hidden;
	width: fit-content;
}

.type-sentences p#type-delay-1 {
	animation: delay-1 3s steps(40, end), blink-caret 1s step-end infinite;
}

.type-sentences p#type-delay-2 {
	animation: delay-2 6s steps(40, end), blink-caret 1s step-end infinite;
	border-right: 2px solid black;
}

@keyframes typing {
	0% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	99% {
		border-right: 2px solid currentColor;
	}
	to {
		width: 100%;
	}
}

@keyframes delay-1 {
	0% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	50% {
		width: 0;
		border-right: 2px solid currentColor;
	}
	99% {
		border-right: 2px solid currentColor;
	}
	to {
		width: 100%;
	}
}

@keyframes delay-2 {
	0% {
		width: 0;
		border-right: 2px solid orange;
	}
	50% {
		width: 0;
		border-right: 2px solid orange;
	}
	99% {
		border-right: 2px solid orange;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: currentColor;
	}
}

.Project-div {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
	padding: 3rem;
	margin-bottom: 50px;
	transition: transform 0.3s ease-in-out;
}

.Project-div:hover {
	transform: scale(1.03);
}

.Project-desc {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.Grid {
	width: 100%;
	margin-top: 3rem;
	border-radius: 12;
	color: #404040;
	display: flex;
	flex-wrap: wrap;
	margin-left: 8vw;
}

.sun {
	position: absolute;
	width: 25rem;
	height: 25rem;
	top: -6rem;
	left: -10rem;
	z-index: -1;
	background-color: #f5e186;
	border-radius: 50%;
	transition-duration: 3s;
}

.sun.move {
	left: 80%;
	transition-duration: 3s;
	background-color: #d9d9d9;
	height: 800px;
	width: 800px;
}

body {
	overflow-x: hidden;
}

#transition-div {
	width: 220px;
	height: 80px;
	background-color: white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 13px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.transition-button {
	height: 80px;
	border-radius: 13px;
	width: 100px;
	background-color: #f5e186;
	box-shadow: 2px 1px #e9dca2;
	position: absolute;
	/* transition: all 2s ease; */
	/* transition: background-color 2s, box-shadow 2s, transform 2s ease; */
	transition-duration: 3s;
}

.transition-button:hover {
	background-color: #f3d345;
	/* background-color: #b1b1b1; */
}

.transition-button:active {
	background-color: #ebc51c;
	/* box-shadow: 2px 1px rgb(175, 174, 167); */
}

.transition-button.night {
	right: 0;
	background-color: #d9d9d9;
	box-shadow: 0px 0px 2px 1px rgb(175, 174, 167);
	transition: all 2s ease;
	/* transition-duration: 3s; */
}
.transition-button.night:hover {
	background-color: #888787 !important;
}

.transition-button.night:active {
	background-color: #3a3a3a !important;
	/* box-shadow: 2px 1px rgb(175, 174, 167); */
}

.Nav-bar {
	position: fixed;
	top: 30%;
	left: 5vw;
	right: 0;
	z-index: 99;
	width: fit-content;
	transition: all 0.3s ease;
	background-color: white;
	border-radius: 12px;
}

#transition-words {
	display: flex;
	justify-content: center;
	margin-top: 0;
	padding: 0;
}

.star {
	position: fixed;
	z-index: -1;
	bottom: 0;
}

#star2 {
	position: fixed;
	width: 70px;
	top: 10%;
	left: 10%;
	z-index: -1;
}

.title-div {
	width: fit-content;
	margin-right: auto;
	margin-top: 10rem;
}

.title {
	font-size: 60px;
}

.gif {
	width: 600px;
	height: 287px;
	box-shadow: 3px 3px 3px;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.gif:hover {
	transform: scale(1.2);
	transition: all 2s ease;
}

.clouds {
	position: absolute;
	bottom: 0;
}

#Homepage-div {
	height: 100vh;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

.Contact-div {
	display: flex;
	justify-content: space-evenly;
	width: 50vw;
	margin-top: 10rem;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.Contact-div.in-view {
	animation: appear 3s ease;
}

.Page-div {
	margin-top: 10rem;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}

#Name {
	font-size: 60px;
	margin-top: -10px;
	margin-bottom: -5px;
}

.Homepage-sentences {
	font-size: 35px;
	margin-bottom: 0;
	z-index: 1;
}

.Project-wrap {
	margin-top: 2rem;
	display: flex;
}

.Project-words-section {
	width: 100rem;
	padding-left: 5rem;
}

#About-me-div {
	display: flex;
	margin-bottom: 5rem;
}

#Nav-bar-flex {
	display: flex;
	flex-direction: column;
}

.Tech-stack {
	display: flex;
}

.Tech-stack-holder {
	display: flex;
	height: 6.5rem;
	margin-bottom: 3rem;
}

.Project-title {
	font-size: 23px;
	margin-top: 0;
}

.Title-tools {
	margin-left: 10vw;
}

.Project-name {
	font-size: 30px;
	margin-bottom: 0;
	font-weight: bold;
}

.Project-description {
	font-size: 20px;
	width: 80%;
	margin-top: 0;
}

#Projects-div {
	margin-top: 10rem;
}

.Border-bottom {
	border-width: 5px;
	border-bottom: 3px solid #282c34;
}

.Main-header {
	font-size: 60px;
	margin: 0;
	width: fit-content;
	margin-left: 18vw;
}

.Each-project {
	width: 100%;
	height: fit-content;
	margin-bottom: 10rem;
}

.Each-project.in-view {
	animation: fade-in 2s ease;
}

.Recent {
	font-size: 13px;
	font-weight: bolder;
	color: green;
	margin-top: 2rem;
}

.Description-div {
	width: 60%;
}

.About-me {
	margin-top: 3rem;
	font-size: 25px;
	font-weight: bold;
}

.About-me.in-view {
	animation: appear 3s ease;
}

.Logo.in-view {
	animation: slide-from-left 1s ease;
}

.Display-options {
	display: flex;
	justify-content: space-evenly;
}

.Small-display {
	width: 15rem;
	margin-right: 1rem;
	padding: 3px;
}

.Bland-button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
	cursor: pointer;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#Name {
		font-size: 30px;
		margin-left: 1rem;
	}

	.Homepage-sentences {
		font-size: 25px;
	}

	.gif {
		width: 50vw;
	}

	.Project-div {
		width: 15rem;
		margin-left: 5rem;
		padding: 1rem;
		height: fit-content;
	}

	.Project-wrap {
		flex-wrap: wrap;
	}

	.Grid {
		flex-direction: column;
	}

	.Flex-center {
		flex-wrap: wrap;
	}

	.Project-words-section {
		padding-left: 0;
	}

	#About-me-div {
		flex-direction: column;
	}

	.Nav-bar {
		display: none;
	}

	#Nav-bar-flex {
		flex-direction: row;
		flex-wrap: wrap;
		width: 22rem;
		justify-content: space-evenly;
	}

	.clouds {
		display: none;
	}

	.Tech-stack-holder {
		overflow-x: scroll;
		width: 20rem;
	}
}
